<h1><%= @meal.name %> - <%= @meal.price %></h1>
<p>Spicyness: <%= @meal.spicyness %></p>
<p><%= @meal.short_description %></p>
<a href="/meals/<%= @meal.id %>/edit"><input type="button" value="Edit" /></a>
<form method="post" action="/meals/<%= @meal.id %>">
<input type="hidden" value="delete" name="_method"><input type="submit" value="Delete" /></form>